html {
   
    overflow-x: hidden;
}

.aboutus {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: auto auto;
    padding-top: 10em;
   
}

.logo-side {
    width: 40%;
}

.image{
    background-image: url('aboutus.png');
    width: 100%;
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}


.content{
    transform: translate(10%, 0%);
    max-width: 50%;
  
}
.head{
    text-align: left;
    font-size: 3rem;
}